@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideinL {
  from {
    transform: translateX(-500%)
  }

  to {
    transform: translateX(0%)
  }
}

@keyframes slideinR {
  from {
    transform: translateX(500%) rotate(220deg);
  }

  to {
    transform: translateX(0%)
  }
}

[data-wrapH] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  [data-anim] {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-family: 'Ropa Sans', sans-serif;
      font-weight: bold;
      color: #fd7014;
      font-size: 18.75rem;
      margin: 0;
      margin-top: 2rem;
    }
    [data-t] {
      animation: 3s slideinL;
    }

    [data-c] {
      animation: 3s slideinR;
    }
  }
  [data-f] {
    animation: appear 6s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      text-transform: uppercase;
      font-family: 'Ropa Sans', sans-serif;
      color: #fd7014;
      font-size: 2.8125rem;
    }
    p {
      font-family: 'Titillium Web', sans-serif;
      margin: 0;
      color: #eeee;
      font-size: 1.875rem;
    }
    [data-f2] {
      width: 60%;
      text-align: center;
    }
    [data-btn] {
      margin-top: 5rem;
      color: #eee;
      border: 2px solid #eee;
      height: 3rem;
      width: 10rem;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 1.3rem;
      text-decoration: none;
      &:hover{
        background: #fd7014;
        border: 2px solid #fd7014;
        transform: rotate(-10deg) scale(1.1);
      }
    }
  }
}

@media screen and (width: 1440px) {
  [data-wrapH] {
    [data-anim] {
      h1 {
        font-size: 200px;
      }
    }
    [data-f] {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 23px;
      }
    }
  }
}

@media (max-width: 760px) {
  [data-wrapH] {
    gap: 4rem;
    [data-anim] {
      margin-top: 2rem;
      width: 100%;
      animation: none !important;
      h1 {
        font-size: 150px;
      }
    }
    [data-f] {
      width: 100%;
      h1 {
        font-size: 21px;
      }
      p {
        font-size: 16px;
        font-weight: 500 !important;
      }
      [data-f2] {
        width: 80% !important;
      }
    }
  }
}

@media (max-width: 360px) {
  [data-wrapH] {
    gap: 2rem;
    [data-anim] {
      margin-top: 2rem;
      width: 100%;
      animation: none !important;
      h1 {
        font-size: 130px;
      }
    }
    [data-f] {
      width: 100%;
      h1 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
        font-weight: 500 !important;
      }
      [data-f2] {
        width: 80% !important;
      }
    }
  }
}
